@page "/"
@using BouncyHsm.Spa.Shared.ForIndex

<PageTitle>Bouncy Hsm</PageTitle>

<h1>Bouncy Hsm</h1>

<div class="row">
    <div class="col">
        <p>Programmer friendly software implementation of HSM (Hardware security module).</p>
    </div>
</div>

<Dashboard />
