@page "/"

<PageTitle>Bouncy Hsm</PageTitle>

<h1>Bouncy Hsm</h1>

<p>Programator friendly software implementation of HSM (Hardware security module).</p>

@*
see: https://github.com/icons8/WPF-UI-Framework
 - nejakym nastrojom s toho spravit fonty tymto https://icomoon.io/app/*@
