@if (RendererInfo.IsInteractive)
{
    <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(BouncyHsm.Spa.Pages.NotFound)">
        <Found Context="routeData">
            <RouteView RouteData="routeData" DefaultLayout="typeof(BouncyHsm.Spa.Shared.MainLayout)" />
            @* <FocusOnNavigate RouteData="routeData" Selector="h1" /> *@
        </Found>
    </Router>
}
else
{
    <div id="app" class="rounded-0">
        <div class="progress rounded-0">
            <div class="progress-bar bg-info"
                 id="loading-progress-bar"
                 role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="d-flex justify-content-center">
            <h1>Bouncy Hsm</h1>
        </div>
        <div class="d-flex justify-content-center">
            <img src="BouncyHsm.png?v=1" alt="Logo" />
        </div>
        <div class="d-flex justify-content-center">
            <p class="small">Loading…</p>
        </div>
    </div>
}
