@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/swagger/index.html" target="_blank">Swagger UI</a>
        </div>

        <BSToaster Position="BlazorStrap.Position.Fixed" />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
