<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="hsm.svg" style="width:2em; height: 2em; fill:white;" />
            Bouncy Hsm
         </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="icon-home"></span>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Slots" Match="NavLinkMatch.All">
                <span class="icon-Sim-Card-Chip"></span> Slots/Tokens
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DownloadP11">
                <span class="icon-cloud-download"></span> Download P11 lib
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ConfigureP11">
                <span class="icon-wrench"></span> Configure P11 lib
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SupportedAlgorithms">
                <span class="icon-info"></span> Supported algorithms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="icon-Ask-Question"></span> About
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
