<div class="card border-@(ColorClassName) mb-3">
    <div class="card-content">
        <div class="card-body">
            <div class="media d-flex justify-content-between">
                <div class="align-self-center icon-pos">
                    <i class="@(this.IconClass) text-@(ColorClassName) fs-2 float-left"></i>
                </div>
                <div class="media-body text-end">
                    <h3>@this.Value</h3>
                    <span>@this.Name</span>
                </div>
            </div>

            @*
            Additional HTML
            <div class="progress mt-1 mb-0" style="height: 7px;">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            *@
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string IconClass
    {
        get;
        set;
    } = string.Empty;

    [Parameter]
    public string ColorClassName
    {
        get;
        set;
    } = "primary";

    [Parameter, EditorRequired]
    public string Name
    {
        get;
        set;
    } = string.Empty;

    [Parameter, EditorRequired]
    public string Value
    {
        get;
        set;
    } = string.Empty;
}