<div class="form-check form-switch ms-5">
    <label class="form-check-label" >
    <input class="form-check-input" type="checkbox"  @bind="this.isEnabled">
        @if (this.isEnabled)
        {
            <span><abbr title="Protected authorization path listening">PAP</abbr> is enabled</span>
        }
        else
        {
            <span><abbr title="Protected authorization path listening">PAP</abbr> is disabled</span>
        }
    </label>
</div>

@if(this.isEnabled)
{
    <ProtectedAuthPathDialog />
}

@code {
    private bool isEnabled = false;
}
