@using BouncyHsm.Spa.Services.Client
@using BouncyHsm.Spa.Utils

<span>Show certificate</span>
@*TODO*@

@code {
    [Parameter]
    public PkcsObjectInfoDto? SelectedObject
    {
        get;
        set;
    }
}
